body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: 200px;
  min-width: 200px;
  padding: 20px;
  padding-top: 40px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}

.sidebar button.btn {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-family: "Roboto";
  text-align: left;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #fff;
  margin-bottom: 10px;

  cursor: pointer;
}

.sidebar button.btn--active {
  text-decoration: underline;
  font-weight: bold;
}

.playground {
  flex-grow: 1;
  padding: 40px;
  height: calc(100vh - 80px);
  overflow: auto;
}
